mat-label, mat-datepicker-toggle {
  background-color: #f5f5f5;
}

.date-range {
  width: 250px;
}

@media (max-width: 768px) {

  .date-range {
    width: 120px;
    font-size: 40%;
  }

  mat-datepicker-toggle {
    background-color: #f5f5f5;
    font-size: 40%;
  }

  mat-label {
    font-size: 40%;
    background-color: #f5f5f5;
  }
}
