.main-container {
  background-color: var(--background-color);
  margin-left: 245px;
}

.general-info {
  background-color: var(--background-color);
}

.icon {
  background-color: var(--background-color); /* Light blue background for a clean look */
}

.general-info-container {
  background-color: var(--background-color); /* Light blue background for a clean look */
  border: 1px solid var(--border-collor); /* Subtle border to frame the content */
  border-radius: 8px; /* Rounded corners for a modern feel */
  padding: 15px 20px; /* Comfortable padding */
  margin-bottom: 20px; /* Space below the section */
  font-size: 16px; /* Slightly larger text for readability */
  font-weight: 500; /* Medium weight for better emphasis */
  color: var(--text-collor); /* Dark blue text for good contrast */
  display: flex; /* Flexbox for alignment */
  align-items: center; /* Vertically center content */
  justify-content: space-between; /* Space out content if more elements are added */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

@media (max-width: 768px) {

  .main-container {
    margin-left: 65px;
  }

  .general-info {
    font-size: 10px;
  }
}
