<app-navbar-search></app-navbar-search>
<app-menu [inputMenuGroups]="menuValues"></app-menu>
<div class="main-container margin-right-15px margin-top-70px">
  <div class="margin-top-15px details">
    <h2>Operations histories for field: {{ field?.title }} </h2>
    <h6>Area: {{ field?.area }} {{ field?.areaUnitType }}</h6>
    <h6>Roughly distance from
      farm: {{ field?.roughlyDistanceFromFarm }} {{ field?.roughlyDistanceFromFarmUnitType }}</h6>
    <h6>Created: {{ field?.createdAt }}</h6>
    <h6>Updated: {{ field?.updatedAt }}</h6>
  </div>
  <div class="margin-top-15px" *ngIf="this.operationHistories.length > 0">
    <div class="dashboard-container">
      <div class="stats-section">
        <div class="chart-card">
          <canvas id="all-costs-vs-all-revenue"> {{ lineChart }}</canvas>
          <div class="year-picker">
            <start-finish-year-date-picker
              (outputYearsInterval)="onYearsIntervalChangedForProfitability($event)">
            </start-finish-year-date-picker>
          </div>
        </div>
        <div class="chart-card">
          <canvas id="operation-type-costs"> {{ barChartForCostPerOperationForCertainYears }}</canvas>
          <div class="year-picker">
            <start-finish-year-date-picker
              (outputYearsInterval)="onYearsIntervalChangedForCosts($event)">
            </start-finish-year-date-picker>
          </div>
        </div>
        <div class="chart-card">
          <canvas id="operation-type-revenues"> {{ barChartForRevenuePerOperationForCertainYears }}</canvas>
          <div class="year-picker">
            <start-finish-year-date-picker
              (outputYearsInterval)="onYearsIntervalChangedForRevenues($event)">
            </start-finish-year-date-picker>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="margin-top-15px align-center-with-flexbox-container">
    <h2 class="operation-histories-title">Operation histories</h2>
  </div>
  <div class="margin-top-15px">
    <div class="create-button-operation">
      <button mat-flat-button (click)="onSaveNewOperationHistory()">Create new Operation</button>
    </div>
    <app-table class="operation-histories-table"
               [inputData]="this.operationHistories"
               [inputTableUsedAt]=EntitySelector.FIELD_OPERATION
               [inputColumns]="TableOperationsHistoryProvider.columns"
               [inpuGetAttributeBasedOnColumn]="TableOperationsHistoryProvider.getAttributeBasedOnColumn"
               [inputDeleteButtonVisible]="true"
               [inputEditButtonVisible]="true"
    ></app-table>
  </div>
  <div class="margin-top-15px align-center-with-flexbox-container">
    <app-paginator [inputLength]="totalNumberOfOperations"
                   (outputPageEvent)="onPaginationChanged($event)"></app-paginator>
  </div>
  <div *ngIf="!showImages" class="margin-top-15px">
    <button (click)="loadImages()">Load images</button>
  </div>
  <div *ngIf="showImages">
    <div class="margin-top-15px align-center-with-flexbox-container">
      <h2 class="images-title">Images</h2>
    </div>
    <div class="create-button-image margin-top-15px">
      <button mat-flat-button (click)="onUploadImage()">Upload image</button>
    </div>
    <div class="margin-top-15px">
      <start-finish-date-picker (outputDateInterval)="onYearsChangeForListingImages($event)"></start-finish-date-picker>
    </div>
    <div class="gallery-container" *ngIf="totalFieldImages != 0">
      <div class="navigation-arrows">
        <button (click)="previousPage()" [disabled]="currentPageFieldImages === 0">&larr;</button>
        <span>Page {{ currentPageFieldImages + 1 }} of {{ totalPagesFieldImages }}</span>
        <button (click)="nextPage()" [disabled]="currentPageFieldImages + 1 === totalPagesFieldImages">&rarr;</button>
      </div>
      <div class="images-grid">
        <app-gallery [inputImages]="fieldImages"></app-gallery>
      </div>
    </div>
  </div>
</div>
