<app-navbar-search></app-navbar-search>
<app-menu [inputMenuGroups]="menuGroups"></app-menu>
<div class="margin-left-245px margin-top-100px margin-right-15px">
  <div class="margin-top-15px">
    <h2>Operations histories for field: {{ field?.title }} </h2>
    <h6>Area: {{ field?.area }} {{ field?.areaUnitType }}</h6>
    <h6>Roughly distance from
      farm: {{ field?.roughlyDistanceFromFarm }} {{ field?.roughlyDistanceFromFarmUnitType }}</h6>
    <h6>Created: {{ field?.createdAt }}</h6>
    <h6>Updated: {{ field?.updatedAt }}</h6>
  </div>
  <div class="margin-top-15px">
    <div class="create-button-operation">
      <button mat-flat-button (click)="onSaveNewOperationHistory()">Create new Operation</button>
    </div>
    <app-table
      [inputData]="this.operationHistories"
      [inputColumns]="TableOperationsHistoryProvider.columns"
      [inpuGetAttributeBasedOnColumn]="TableOperationsHistoryProvider.getAttributeBasedOnColumn"
      [inputDeleteButtonVisible]="true"
      [inputEditButtonVisible]="true"
    ></app-table>
  </div>
  <div class="margin-top-15px align-center-with-flexbox-container">
    <app-paginator [inputLength]="totalNumberOfOperations"
                   (outputPageEvent)="onPaginationChanged($event)"></app-paginator>
  </div>
</div>
