table {
  background-color: var(--background-color);
}

div{
  color: var(--text-collor);
}

.operation-button{
  color: white;
  background-color: #4070f4;
}

td{
  font-size: 65%;
}

th{
  font-size: 65%;
}

@media screen and (max-width: 768px) {
  table {
    width: 100%;
    background-color: white;
  }

  td > div{
    font-size: 60%;
    margin: -10px;
  }

  th > div{
    font-size: 60%;
    margin: -10px;
  }

  mat-icon{
    margin-top: 16px;
    font-size: 7px;
    color: #3059c8;
  }

  .operation-button{
    width: 8px;
    height: 8px;
    background: transparent; /* Makes the background transparent */
    border: none; /* Removes any borders */
    outline: none; /* Removes any focus outlines */  }
}
