.dashboard-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: var(--white-color);
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.stats-section {
  background-color: var(--background-color);
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.chart-card canvas{
  background-color: var(--background-color);
  color: var(--text-collor);
}

.chart-card {
  flex: 1;
  max-width: 30%;
  background-color: var(--white-color);
  border: 1px solid var(--chart-card-collor);
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.year-picker {
  color: var(--text-collor);
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

/* Responsive adjustments */
@media (max-width: 1200px) {
  .dashboard-container {
    padding: 15px;
  }

  .chart-card {
    max-width: 48%;
  }
}

@media (max-width: 992px) {
  .dashboard-container {
    padding: 10px;
  }

  .stats-section {
    flex-direction: column;
    gap: 10px;
  }

  .chart-card {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .dashboard-container {
    padding: 10px;
  }

  .chart-card {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .year-picker {
    justify-content: center;
  }
}
