<nav class="sidebar">
  <div class="menu_content">
    <ul class="menu_items" *ngFor="let group of menuGroups">
      <div class="menu_title {{group.title}}"></div>
      <li class="item" *ngFor="let item of group.group">
        <a routerLink="{{item.link}}" class="nav_link" *ngIf="item.link != null">
              <span class="navlink_icon">
                <i class="{{item.icon}}"></i>
              </span>
          <span class="navlink">{{ item.text }}</span>
        </a>
        <div class = "nav_link" *ngIf="item.link === null" (click)="onClickCallFunction(item.onClickFunction)">
        <span class="navlink_icon">
                <i class="{{item.icon}}"></i>
              </span>
          <span class="navlink" *ngIf="item.link === null">{{ item.text }}</span>
        </div>
      </li>
    </ul>
    <!-- Sidebar Open / Close -->
    <div class="bottom_content">
      <div class="bottom expand_sidebar">
        <span> Expand</span>
        <i class='bx bx-log-in'></i>
      </div>
      <div class="bottom collapse_sidebar">
        <span> Collapse</span>
        <i class='bx bx-log-out'></i>
      </div>
    </div>
  </div>
</nav>
