<nav class="sidebar" [ngClass]="{'close': !isSidebarExpanded || menuValues.length === 0}">
  <div class="menu_content">
    <ul class="menu_items" *ngFor="let item of menuValues">
      <a routerLink="{{item.link}}" class="nav_link" *ngIf="item.link != null">
              <span class="navlink_icon">
                <i class="{{item.icon}}"></i>
              </span>
        <span class="navlink">{{ item.text }}</span>
      </a>
      <div class="nav_link" *ngIf="item.link === null" (click)="onClickCallFunction(item.onClickFunction)">
        <span class="navlink_icon">
                <i class="{{item.icon}}"></i>
              </span>
        <span class="navlink">{{ item.text }}</span>
      </div>
    </ul>
    <!-- Sidebar Open / Close -->
    <div class="bottom_content">
      <div class="bottom expand_sidebar">
        <span (click)=toggleSideBar()> Expand</span>
        <i class='bx bx-log-in' (click)="logout()"></i>
      </div>
      <div class="bottom collapse_sidebar">
        <span (click)=toggleSideBar()> Collapse</span>
        <i class='bx bx-log-out' (click)="logout()"></i>
      </div>
    </div>
  </div>
</nav>
