/* General Styling */

.main-container {
  background-color: var(--background-color);
  margin-left: 245px;
}

.create-button-operation-container {
  background-color: var(--background-color);
}

.load-images-container {
  background-color: var(--background-color);
}

.load-images {
  background-color: var(--white-color);
}

.create-button-operation {
  background-color: var(--background-color);
  float: right;
  margin-bottom: 15px;
}

.create-button-image {
  background-color: var(--background-color);
  margin-bottom: 15px;
}

.compare-images-button {
  margin-bottom: 15px;
  background-color: var(--background-color);
}

/* Buttons inside the year picker */
button {
  background-color: var(--blue-color);
  color: var(--white-color);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
  background-color: var(--button-hover);
  transform: translateY(-2px);
}

.dashboard-finance{
  background-color: var(--background-color);
}

.gallery-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 50px;
}

.navigation-arrows {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
  background-color: var(--background-color);
}

.navigation-arrows span {
  background-color: var(--background-color);
}

.navigation-arrows button {
  background-color: var(--white-color-always);
  color: var(--text-collor);
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease;
}

.navigation-arrows button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.paginator-operation-histories {
  background-color: var(--background-color);
}

.images {
  background-color: var(--background-color);
}

.images > div {
  background-color: var(--background-color);
}

.images > h2 {
  background-color: var(--background-color);
}

.buttons {
  background-color: var(--background-color);
}

.details {
  background-color: var(--background-color);
  color: var(--text-collor);
}

.details > h2 {
  background-color: var(--background-color);
}

.details > h6 {
  background-color: var(--background-color);
}

.operation-histories-title {
  background-color: var(--background-color);
  color: var(--text-collor);
}

.operation-histories-title-container {
  background-color: var(--background-color);
}

.images-title-container {
  background-color: var(--background-color);
}

.images-title {
  background-color: var(--background-color);
  color: var(--text-collor);
}

.navigation-arrows span {
  font-size: 16px;
  color: var(--text-collor);
}

@media (max-width: 768px) {

  .navigation-arrows {
    flex-direction: row; /* Stack the buttons and text vertically */
    align-items: stretch; /* Stretch buttons to full width */
  }

  .navigation-arrows button {
    width: 80%; /* Make buttons take full width in smaller screens */
    text-align: center;
  }

  .navigation-arrows > span {
    font-size: 10px;
    margin: 5px 0; /* Add spacing between the text and buttons */
  }

  .operation-histories-title {
    color: var(--text-collor);
    font-size: 13px;
  }

  .images-title {
    color: var(--text-collor);
    font-size: 13px;
  }

  .create-button-operation > button {
    float: left;
    font-size: 10px;
    text-align: center; /* Center-align the button */
  }

  .create-button-image > button {
    float: left;
    font-size: 10px;
    text-align: center; /* Center-align the button */
  }

  .compare-images-button > button {
    float: left;
    font-size: 10px;
    text-align: center; /* Center-align the button */
  }

  .operation-histories-table {
    width: 200px;
    font-size: 10px;
  }

  .main-container {
    margin-left: 70px;
  }

  .details > h2 {
    font-size: 10px;
  }

  .details > h6 {
    font-size: 8px;
  }

  /* Make the operation histories table more flexible */
  app-table {
    width: 100%; /* Full width for table */
    margin-top: 20px; /* Add margin between button and table */
  }

  /* Paginator adjustments */
  .align-center-with-flexbox-container {
    margin-top: 15px; /* Space between paginator and other content */
    justify-content: center; /* Center the paginator */
  }
}
