* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --white-color: #fff;
  --blue-color: #4070f4;
  --grey-color: #707070;
  --grey-color-light: #aaa;
}

body {
  background-color: #e7f2fd;
  transition: all 0.5s ease;
  height: 100%;
}

body.dark {
  background-color: #333;
}

body.dark {
  --white-color: #333;
  --blue-color: #fff;
  --grey-color: #f2f2f2;
  --grey-color-light: #aaa;
}

.float-right{
  float: right;
}

.tooltip-container {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* Optional underline */
}

.tooltip-container .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%; /* Position below the element */
  left: 50%;
  margin-left: -60px; /* Center the tooltip */
  opacity: 0;
  transition: opacity 0.5s; /* Smooth appearance */
}

.tooltip-container:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* Arrow (optional) */
.tooltip-container .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

html {
  height: 0;
  background-color: #e7f2fd;
}
